@{
    ViewBag.Title = "Acerca";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Un video club VHS tratando de sobrevivir con peliculas de Arnold Schwarzenegger <br />
    y Sylvester Stallone
</p>
